:root {
	--primary-color: #96b08d;
	--secondary-color: #ffd504;
	--font-color: #050505;
	--font-color-light: #505050;
	--bg-color: #ffffff;
	--border-radius: 0.25rem;
	--font-size: 1rem;
	--font-size-md: 0.8rem;
	--hover: #e7e3e2;
}

@keyframes tilt-shaking {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

body {
	font-family: "Poppins", sans-serif;
	font-size: var(--font-size);
	color: var(--font-color);
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: var(--bg-color);
}

/* Landing Page */

#landing {
	padding-top: 50px;
	background-color: var(--primary-color);
	color: var(--bg-color);
}

.landing__header {
	display: flex;
	justify-content: space-between;
	padding: 0 13%;
	align-items: center;
}

#logo {
	font-size: 2rem;
	font-weight: 500;
}

.navigation {
	display: flex;
	justify-content: space-between;
	width: 60%;
}

/* .navigation a {
	text-decoration: none;
	color: var(--bg-color);
	padding: 0.5rem 1rem;
	text-transform: capitalize;
	transition: 0.3s ease;
} */

.navigation a:hover {
	color: var(--hover);
}

.button {
	background-color: var(--bg-color);
	color: var(--primary-color);
	border: none;
	padding: 1rem 1.5rem;
	font-size: 0.8rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.3s ease;
}

.button:hover {
	background-color: var(--hover);
}

.landing__main {
	position: relative;
}

.title {
	font-size: 5rem;
	font-weight: 600;
	width: 70%;
	margin: 150px auto 0;
}

.description {
	font-weight: 300;
	width: 40%;
	margin: 40px auto 0;
	line-height: 1.8;
	padding-bottom: 430px;
}

.landing__image {
	position: absolute;
	top: 380px;
	left: 0;
	right: 0;
	/* width: 1070px; */
	width: 55%;
	margin: 0 auto;
}

.landing__header__tablet {
	display: none;
}

@media screen and (min-width: 1989px) {
	.landing__image {
		width: 1100px;
		top: 270px;
	}
}

@media screen and (max-width: 1360px) {
	.title {
		margin-top: 100px;
		font-size: 3rem;
	}
	.description {
		padding-bottom: 265px;
	}
	.navigation a {
		font-size: 0.7rem;
	}
	.landing__image {
		top: 300px;
	}
}

@media screen and (min-width: 1192px) and (max-width: 1360px) {
	.landing__image {
		top: 200px;
	}
}

@media screen and (max-width: 1027px) {
	.landing__header {
		display: none;
	}
	.landing__header__tablet {
		display: flex;
		flex-direction: column;
		padding: 0 10%;
	}
	.landing__header__tablet__upper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.navigation__tablet {
		margin-top: 20px;
		width: 100%;
	}
	.landing__image {
		width: 65%;
	}
}

@media screen and (max-width: 740px) {
	.description {
		padding-bottom: 200px;
	}
}

@media screen and (max-width: 642px) {
	.landing__image {
		top: 350px;
	}
}

@media screen and (max-width: 554px) {
	.landing__image {
		top: 400px;
	}
}
@media screen and (max-width: 534px) {
	.navigation {
		display: none;
	}
}

@media screen and (max-width: 475px) {
	.description {
		padding-bottom: 0;
	}
	.title {
		padding-top: 150px;
		margin: auto;
		width: 90%;
	}
	.description {
		width: 70%;
		margin: 20px auto 0;
	}
	.landing__image {
		position: static;
		width: 100%;
		margin-top: 150px;
	}
}

@media screen and (max-width: 425px) {
	.title {
		padding-top: 150px;
		margin: auto;
		width: 70%;
		font-size: 2.5rem;
	}
}

/* Statistics */

#statistics {
	padding-top: 300px;
	width: 70%;
	margin: 0 auto;
}

.statistics__text {
	display: flex;
	gap: 3%;
}

.statistics__text h3 {
	flex: 1;
	font-size: 2.7rem;
	font-weight: 600;
	line-height: 1.1;
	text-align: left;
}

.statistics__text h5 {
	flex: 1;
	color: var(--font-color-light);
	line-height: 1.8;
	text-align: left;
}

.statistics__container {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	margin-top: 20px;
	margin-bottom: 50px;
}

@media screen and (min-width: 1920px) {
	#statistics {
		padding-top: 450px;
	}
	.statistics__container {
		margin-bottom: 100px;
	}
}

@media screen and (min-width: 1700px) {
	#statistics {
		padding-top: 450px;
	}
}

@media screen and (max-width: 950px) {
	#statistics {
		padding-top: 220px;
	}

	.statistics__text h3 {
		font-size: 2.4rem;
	}

	.statistics__container {
		padding: 0;
		margin-top: 100px;
		gap: 2%;
	}
}

.statistics__data {
	text-align: left;
}

.statistics__data__number {
	font-size: 4rem;
	font-weight: 600;
}

.statistics__data__number span {
	color: var(--secondary-color);
}

.statistics__data__label {
	font-weight: 600;
}

@media screen and (max-width: 780px) {
	.statistics__data__number {
		font-size: 2rem;
	}
}

@media screen and (max-width: 720px) {
	#statistics {
		padding-top: 150px;
	}
	.statistics__text {
		gap: 10%;
	}
}
@media screen and (max-width: 533px) {
	.statistics__text {
		flex-direction: column;
		gap: 30px;
	}
	.statistics__text h3,
	.statistics__text h5 {
		text-align: center;
	}
	.statistics__container {
		flex-direction: column;
		gap: 30px;
	}
	.statistics__data {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7%;
	}
}

@media screen and (max-width: 400px) {
	#statistics {
		padding-top: 100px;
	}
}
/* Walkthrough */

#walkthrough {
	margin-top: 100px;
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.walkthrough__left {
	margin-top: 300px;
	flex: 1;
	position: relative;
}

.walkthrough__box {
	background-color: var(--primary-color);
	width: 50%;
	height: 600px;
}

.walkthrough__image {
	width: 70%;
	min-width: 450px;
	max-width: 600px;
	position: absolute;
	left: 140px;
	bottom: 120px;
}

@media screen and (max-width: 1635px) and (min-width: 1185px) {
	.walkthrough__image {
		left: 10%;
		bottom: 90px;
		height: 660px;
	}
}

.walkthrough__right {
	flex: 1;
	margin-top: 140px;
	padding-right: 100px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.walkthrough__title {
	font-size: 3rem;
	font-weight: 600;
}

.walkthrough__description {
	font-weight: 400;
	margin-top: 40px;
	line-height: 2.3;
}

.walkthrough__button {
	background-color: var(--secondary-color);
	color: var(--font-color);
	margin-top: auto;
	width: 25%;
	margin-bottom: 119px;
}

@media screen and (max-width: 2000px) {
	.walkthrough__description__more {
		display: none;
	}
}

@media screen and (min-width: 2000px) {
	.walkthrough__left {
		margin-top: 400px;
	}
	.walkthrough__image {
		left: 170px;
		width: 100%;
		max-width: 700px;
	}
	.walkthrough__right {
		margin-right: 2%;
	}
	#walkthrough {
		margin-top: 150px;
	}
}
@media screen and (min-width: 2340px) {
	.walkthrough__right {
		flex: 1.3;
	}
}

@media screen and (max-width: 1185px) {
	.walkthrough__image {
		display: none;
	}
	.walkthrough__box {
		display: none;
	}
	.walkthrough__left {
		display: none;
	}
	.walkthrough__right {
		padding-left: 100px;
		background-color: var(--primary-color);
		padding-top: 140px;
	}
	.walkthrough__button {
		width: 30%;
		margin-top: 100px;
	}
}

@media screen and (max-width: 600px) {
	.walkthrough__button {
		width: 100%;
	}
	.walkthrough__title,
	.walkthrough__description {
		text-align: center;
		width: 100%;
	}
}

@media screen and (max-width: 457px) {
	.walkthrough__title {
		font-size: 2rem;
	}
	.walkthrough__description {
		font-size: 0.9rem;
	}
	.walkthrough__button {
		margin: 50px auto;
	}
	.walkthrough__right {
		margin-top: 80px;
	}
}

@media screen and (max-width: 440px) {
	.walkthrough__right {
		padding: 100px 10% 60px;
	}
}

@media screen and (max-width: 355px) {
	.statistics__data__number {
		font-size: 1.4rem;
	}
}

/* Break Images */

#break-images {
	margin-top: 200px;
	width: 100%;
	overflow-x: hidden; /* Ensures images do not overflow horizontally */
	display: none;
}
.break-images__container__small {
	display: none;
}
.break-images__container {
	display: flex;
	justify-content: space-between; /* Distribute images evenly along the line */
	width: 100%; /* Take full width of the parent container */
}
.break-image {
	width: calc(33.33% - 10px); /* Equal width for each image with some margin */
	max-width: 100%; /* Ensure images don't exceed their container */
}

/* Work Flow */

#work-flow {
	display: flex;
	margin-top: 140px;
}

.work-flow__left {
	/* flex: 1; */
	margin-top: 150px;
	text-align: left;
	padding-left: 10%;
	width: 35%;
}

.work-flow__title {
	font-size: 3rem;
	font-weight: 600;
	width: 90%;
	margin-bottom: 55px;
}

.work-flow__items {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 40px;
}

.work-flow__item {
	background-color: var(--primary-color);
	padding: 30px 40px;
	display: flex;
	align-items: center;
	gap: 20px;
}

.concept {
	background-color: #f7f6be;
}

.design {
	background-color: #d1e6eb;
}

.launch {
	background-color: #e7e3e2;
}

.work-flow__item__number {
	font-size: 2rem;
	font-weight: 600;
	margin-right: 8px;
}

.work-flow__item__text {
	margin-right: 40px;
}

.work-flow__item__text h4 {
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.work-flow__right {
	flex: 1;
	position: relative;
	margin-top: 70px;
}

.work-flow__box {
	background-color: var(--primary-color);
	width: 50%;
	height: 600px;
	margin-left: auto;
}

.work-flow__image {
	width: 63%;
	max-width: 600px;
	min-width: 525px;
	position: absolute;
	right: 180px;
	top: 90px;
}

.work-flow__image2 {
	display: none;
}

@media screen and (max-width: 1635px) and (min-width: 1360px) {
	.work-flow__image {
		right: 15%;
	}
}

@media screen and (min-width: 1920px) {
	.work-flow__image {
		display: none;
	}

	.work-flow__image2 {
		display: block;
		width: 90%;
		max-width: 900px;
		/* min-width: 525px; */
		position: absolute;
		right: 10%;
		top: 200px;
	}
}

@media screen and (max-width: 1337px) {
	.work-flow__image {
		display: none;
	}

	#break-images {
		display: block;
	}

	.work-flow__box {
		display: none;
	}

	.work-flow__right {
		display: none;
	}

	.work-flow__left {
		width: 100%;
		padding: 0 10%;
		margin-top: 50px;
	}
}

@media screen and (max-width: 700px) {
	#break-images {
		display: none;
	}
	.break-images__container__small {
		display: block;
		width: 100%;
	}
	.break-image__mobile {
		width: 100%;
		overflow: hidden;
		margin-top: 100px;
	}
	#work-flow {
		margin-top: 50px;
	}
	.work-flow__title {
		text-align: center;
		width: 100%;
	}
}

@media screen and (max-width: 482px) {
	.work-flow__title {
		font-size: 2rem;
	}
}

@media screen and (max-width: 400px) {
	.work-flow__item__number {
		display: none;
	}
}

/* Projects */

#projects {
	width: 70%;
	margin: 200px auto 0;
}

.projects__items__mobile {
	display: none;
}

@media screen and (min-width: 1635px) {
	#projects {
		margin-top: 300px;
	}
}

.projects__title {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 55px;
}

.projects__items {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.projects__items__left {
	background-image: url("images/project1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
}

.projects__items__right {
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.projects__items__item {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.projects__items__item__mobile {
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.living-room {
	background-image: url("images/project1.jpg");
}

.kitchen {
	background-image: url("images/project2.jpg");
}

.bathroom {
	background-image: url("images/project3.jpeg");
}

.projects__items__item__text {
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(4px);
	color: var(--bg-color);
	text-align: left;
	margin: 30px;
	margin-top: auto;
	padding: 20px 30px;
}

.projects__items__item__title {
	font-size: 1.7rem;
	font-weight: 500;
	margin-bottom: 10px;
}

.projects__items__item__subtitle {
	font-weight: 300;
}

@media screen and (max-width: 768px) {
	#projects {
		margin-top: 100px;
	}
	.projects__items {
		display: none;
	}
	.projects__items__mobile {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.projects__items__left {
		height: 300px;
	}
}

@media screen and (max-width: 342px) {
	.projects__title {
		font-size: 2rem;
	}
	.projects__items__item__title {
		font-size: 1rem;
	}
}

/* Testimonials */

#testimonials {
	width: 70%;
	margin: 250px auto 0;
	display: flex;
}

.testimonials__image {
	/* height: 600px; */
	width: 43%;
}

.testimonials__text {
	display: flex;
	flex-direction: column;
}

.testimonials__text__title {
	flex: 1;
	font-size: 3rem;
	font-weight: 500;
	text-align: left;
	padding: 0 70px;
	position: relative;
}

.testimonials__text__quotes {
	color: var(--secondary-color);
	font-size: 20rem;
	position: absolute;
	top: 80px;
}

.testimonials__text__description {
	flex: 2;
	background-color: var(--primary-color);
	padding: 0 70px;
	color: var(--bg-color);
	padding-top: 100px;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.8;
	text-align: left;
}

@media screen and (max-width: 1347px) {
	.testimonials__text__description__additional {
		display: none;
	}
	.testimonials__text__title {
		display: flex;
		height: 150px;
		padding-bottom: 30px;
	}
	.testimonials__text__quotes {
		display: none;
	}
	.testimonials__text__description {
		padding: 30px 15%;
	}
	.testimonials__image {
		width: 40%;
	}
}

@media screen and (max-width: 960px) {
	.testimonials__image {
		display: none;
	}
	#testimonials {
		margin-top: 100px;
	}
}

@media screen and (max-width: 567px) {
	.testimonials__text__title h1 {
		font-size: 2.5rem;
		text-align: center;
	}
	.testimonials__text__description {
		text-align: center;
	}
}

@media screen and (max-width: 474px) {
	.testimonials__text__title h1 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 446px) {
	.testimonials__text__title {
		padding: 0;
	}
	.testimonials__text__title h1 {
		font-size: 2rem;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 373px) {
	.testimonials__text__description {
		font-size: 1rem;
	}
}

/* Footer */

footer {
	margin-top: 200px;
	background-color: var(--primary-color);
	color: var(--bg-color);
	padding: 50px 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer h3 {
	font-size: 2rem;
	font-weight: 600;
}

.footer__links {
	display: flex;
	gap: 20px;
}

.footer__links a {
	text-decoration: none;
	color: var(--bg-color);
	transition: 0.3s ease;
}

.footer__links a:hover {
	color: var(--hover);
}

@media screen and (max-width: 1027px) {
	.footer__links {
		font-size: 0.75rem;
		margin-left: 10%;
	}
}

@media screen and (max-width: 650px) {
	.footer__links {
		font-size: 0.5rem;
	}
	footer h3 {
		font-size: 1rem;
		font-weight: 600;
	}
}

@media screen and (max-width: 385px) {
	footer h3 {
		display: none;
	}
	.footer__links {
		margin: 0;
		padding: 0;
	}
}
@media screen and (max-width: 742px) {
	footer {
		margin-top: 100px;
	}
}

/* Mascot */

.mascot-container {
	position: fixed;
	bottom: 0;
	right: -300px;
	height: 300px;
	transition: right 1s ease;
	z-index: 1000;
	display: flex;
}

#mascot-message {
	background-image: url("images/message-bubble.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 50%;
	margin-right: -150px;
	opacity: 0;
	transition: opacity 0.3s ease;
	color: white;
	display: flex;
	width: 100%;
	align-items: left;
}

#mascot-message h6 {
	margin: auto;
	margin-left: 45px;
	margin-top: 45px;
	width: 40%;
}

.mascot-container:hover {
	cursor: pointer;
}
.mascot-container:hover #mascot-message {
	opacity: 1;
}

#mascot {
	width: 100%;
	height: 55%;
	align-self: flex-end;
	max-width: fit-content;
}

.tilt-shake {
	animation: tilt-shaking 2s infinite;
	animation-delay: 0s;
}

.hidden {
	display: none;
}

.mascot-container.active {
	right: 0px;
}

@media screen and (max-width: 500px) {
	.mascot-container {
		height: 200px;
	}
	#mascot-message h6 {
		font-size: 0.7rem;
		margin: 27px 0 0 30px;
	}
	#mascot-message {
		margin-right: -100px;
	}
}
